UI/Connected Services/CisteraScreenCaptureService/Cliver.CisteraScreenCaptureService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cliver.CisteraScreenCaptureService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cliver.CisteraScreenCaptureService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Cliver.WinApi" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Cliver" />
  <xs:complexType name="Settings.GeneralSettings">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cliver" base="q1:Settings">
        <xs:sequence>
          <xs:element minOccurs="0" name="CapturedMonitorDeviceName" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cliver.WinApi" minOccurs="0" name="CapturedMonitorRectangle" nillable="true" type="q2:User32.RECT" />
          <xs:element minOccurs="0" name="DeleteLogsOlderDays" type="xs:int" />
          <xs:element minOccurs="0" name="ServiceDomain" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ServiceType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShowMpegWindow" type="xs:boolean" />
          <xs:element minOccurs="0" name="Ssl" type="xs:boolean" />
          <xs:element minOccurs="0" name="TcpClientDefaultIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TcpServerPort" type="xs:unsignedShort" />
          <xs:element minOccurs="0" name="WriteMpegOutput2Log" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Settings.GeneralSettings" nillable="true" type="tns:Settings.GeneralSettings" />
  <xs:simpleType name="MessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INFORM" />
      <xs:enumeration value="WARNING" />
      <xs:enumeration value="ERROR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageType" nillable="true" type="tns:MessageType" />
</xs:schema>