UserSessionProbe/Connected Services/CisteraScreenCaptureService2/Cliver.WinApi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cliver.WinApi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cliver.WinApi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User32.RECT">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Bottom" type="xs:int" />
      <xs:element minOccurs="0" name="Left" type="xs:int" />
      <xs:element minOccurs="0" name="Right" type="xs:int" />
      <xs:element minOccurs="0" name="Top" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User32.RECT" nillable="true" type="tns:User32.RECT" />
</xs:schema>