UserSessionProbe/Connected Services/CisteraScreenCaptureService2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Cliver.CisteraScreenCaptureService" />
  <xs:element name="GetSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cliver.CisteraScreenCaptureService" minOccurs="0" name="GetSettingsResult" nillable="true" type="q1:Settings.GeneralSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cliver.CisteraScreenCaptureService" minOccurs="0" name="general" nillable="true" type="q2:Settings.GeneralSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>